## Python Type system

Python can be characterized as having a **dynamic** and **strong** type system

### Dynamic typing
the **type** of an object isn't resolved until the program is run.

In [1]:
def add(a, b):
    return a + b
#Nowhere in the definition we mention any types

In [2]:
# call it with integers
add(1, 3)

4

In [3]:
# call it with strings
add("hello", "world")

'helloworld'

In [4]:
# call it with lists
add([1, 2, 3], [4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [5]:
# Try mixed objects
add(1, "hello")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
# Strong Typing.  They need to be the same type
# Try mixed objects
add(str(1), "hello")

'1hello'

## Variable Declaration and Scope

Type declaration are not necessary in Python, and variables are essentially just untyped name binding to objects.

### Identical names in global and local scope
When you need ot rebind a global name at module scope follow the next rules:

### the LEGB Rule
There are four types of scopes:
* **Local**: names defined inside the current function
* **Enclosing**: names defined inside any and all enclosing functions.
* **Global**: names defined at the top-level of a module
* **Built-in**: names built-in to the Python language through the special **builtins** module

# Collections
we have already test these collections:
* **str** the immutable string sequence of Unicode code points
* **list** the mutable sequence of objects
* **dict** the mutable mapping of immutable keys to mutable objects

Some new collections:
* **tuple** the immutable sequence of objects 
* **range** for arithmetic progression of integers
* **set** a mutable collection of unique immutable objects

## Tuple
Similar to list but they are delimited by **parenthesis** rather than square brackets

Access members by *index* notation with **[]**

In [8]:
t = ("ogden", 1.99, 2)
print(t)
print(type(t))

('ogden', 1.99, 2)
<class 'tuple'>

In [9]:
t[0]

'ogden'

In [10]:
# get the lenth
len(t)

3

In [13]:
# Iternate over a tuple
for item in t:
    print(item)

ogden
1.99
2

### Concatenation and Repetition of Tuples

In [14]:
# Concatenation
t + ("Hello", "you", 3)

('ogden', 1.99, 2, 'Hello', 'you', 3)

In [15]:
# Repetition
t*2

('ogden', 1.99, 2, 'ogden', 1.99, 2)

## Nested Tuples

In [16]:
a = ((220, 284), (1184, 1210), (6233, 1234))
a

((220, 284), (1184, 1210), (6233, 1234))

In [17]:
# Access individual memebers (index notation)
a[2][0]

6233

In [20]:
# single element tuple
h = (342,)  # add a comma at the end to force it into a tuple
print(h)
print(type(h))

(342,)
<class 'tuple'>

In [21]:
# Empty tuple
e = ()
print(e)
print(type(e))

()
<class 'tuple'>

In [22]:
# Optional parenthesis
p = 1, 1, 3, 7, 2
p

(1, 1, 3, 7, 2)

In [23]:
type(p)

tuple

### Return and Unpacking Tuples
This is often used when returing multiple values from a function.

In [29]:
# function returns min and max
def min_max(c):
    return min(c), max(c)

a = min_max([3, 5, 1, -99, 45])
print (a)
print(type(a))

(-99, 45)
<class 'tuple'>

Returning multiple values from a function as a tuple is often used in conjuction with a feature called **tuple unpacking**

In [30]:
lower, upper = min_max([3, 5, 1, -99, 45])
print(lower)
print(upper)

-99
45

#### Task
Swap values of variables with tuple unpacking

In [32]:
a = "Jelly"
b = "bean"
print(a)
print(b)
a, b = b, a
print(a)
print(b)

Jelly
bean
bean
Jelly

### Tuple contructor: tuple(*iterable*)

In [33]:
# List to tuple
tuple([1, 7, 8, 2, 33, 44])

(1, 7, 8, 2, 33, 44)

In [35]:
# string to tuple
tuple("Webber State")

('W', 'e', 'b', 'b', 'e', 'r', ' ', 'S', 't', 'a', 't', 'e')

### Test Membership

In [36]:
5 in (3, 5, 7, 11, 77)

True

In [37]:
5 not in (3, 5, 7, 11, 77)

False

# Strings

### Find the size of the string with len()

In [38]:
len("this is a long string")

21

### Concatenation

In [39]:
"new" + " " + "world"

'new world'

In [40]:
s = "Part1"
s += " Part2"
s += " Part3"
s

'Part1 Part2 Part3'

### Joining strings
The recommendation is to use the built-in **join()** instead of += because it is more efficient memory wise.

Teh **join()** method takes a collection of strings as an argument and produces a new string when inserting a separator between each of them.

In [42]:
teams = ";".join(["Utah Jazz", "LA Lakers", "Boston Celtics"])
print(teams)

Utah Jazz;LA Lakers;Boston Celtics

In [44]:
w = "".join(["high","low"])
w

'highlow'

### Splitting a string with split()

In [45]:
teams.split(';')

['Utah Jazz', 'LA Lakers', 'Boston Celtics']

### Partitioning Strings with partition
This method returns a tuple

In [46]:
departure, separator, arrival = "London:Edinburg".partition(':')
print(departure)
print(separator)
print(arrival)

London
:
Edinburg

In [48]:
# Dummy object
departure, _, arrival = "London:Edinburg".partition(':')
print(departure)
print(arrival)

London
Edinburg

### String Formating with format()
This method can be used on any string containing so-called replacement fields which are surrounded by curly braces.

In [49]:
print("The age of {0} is {1}".format("Mario", 21))

The age of Mario is 21

In [50]:
# You can repeat parameters in the string
print("The age of {0} is {1}. {0}'s birthday is on the {2}".format("Mario", 21, "February"))

The age of Mario is 21. Mario's birthday is on the February

In [51]:
# If the field names are used once, and in the same order as the arguments, then can be ommited
print("Reticulating spline {} of {}".format(4, 23))

Reticulating spline 4 of 23

In [53]:
# keyword arguments are supplied to the format() then named fileds can be used instead of ordinals:
print("Current position: {lat} {long}".format(lat="60N", long="5E"))

Current position: 60N 5E

In [54]:
# you can use index into the sequence using square brackets
print("Galactic position x ={pos[0]}, y={pos[1]}, z={pos[2]}".format(pos=(65.2, 23.1, 82.9)))

Galactic position x =65.2, y=23.1, z=82.9

Other string methods: ***>>> help(str)***

# Range use range()
A range is used to represent an arithmetic progression of integers.

In [55]:
range(5)

range(0, 5)

In [56]:
# iterate over it
# Default initial value is 0
for i in range(5):
    print(i)

0
1
2
3
4

In [58]:
# Set the initial value
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [60]:
# Cast it to a list
list(range(10,15))

[10, 11, 12, 13, 14]

In [61]:
# Combine multiple
list(range(5, 10)) + list(range(15, 20))

[5, 6, 7, 8, 9, 15, 16, 17, 18, 19]

In [62]:
# Set the step argument:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [65]:
# in reverse order
list(range(20, -2, -2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [66]:
# Not using range to enumerate: The example below is poor style

s = [0, 1, 4, 6, 13]
for i in range(len(s)):
    print(s[i])

0
1
4
6
13

In [67]:
# The above code is VERY unpythonic.
# Python is NOT C
for v in s:
    print(v)

0
1
4
6
13

If you need a counter, then use the **enumerate()** function which returns an iterable series:

In [68]:
t = [6, 11, 33, 444, 55, 1]
for p in enumerate(t):
    print(p)

(0, 6)
(1, 11)
(2, 33)
(3, 444)
(4, 55)
(5, 1)

In [70]:
# Unpack the tuple
for i, v in enumerate(t):
    print("i = {0}, v = {1}".format(i, v))

i = 0, v = 6
i = 1, v = 11
i = 2, v = 33
i = 3, v = 444
i = 4, v = 55
i = 5, v = 1

# List

Heterogenous mutable sequence
* Square brackets
* Uses index notation

In [73]:
s = " Show me the money".split()
s

['Show', 'me', 'the', 'money']

In [74]:
s[3]

'money'

In [75]:
# Negative indexing
s[-1]

'money'

In [76]:
s[-2] # one before the last

'the'

In [78]:
# This notation is better than C-Style
s[len(s)-2]

'the'

## Slicing List

In [79]:
s = [3, 185, 22, 44, 90, -2 , 33]
print(s)

[3, 185, 22, 44, 90, -2, 33]

In [80]:
# Slice a range of indexes
s[1:4]

[185, 22, 44]

In [82]:
s[1:-1] # strip ends

[185, 22, 44, 90, -2]

In [83]:
# Starting position until the end
s[2:]

[22, 44, 90, -2, 33]

In [85]:
print(s)
print(s[:3])

[3, 185, 22, 44, 90, -2, 33]
[3, 185, 22]

In [86]:
# get everything
s[:]

[3, 185, 22, 44, 90, -2, 33]

In [88]:
full_slice = s[:] # deep copy??. It creates its own
full_slice is s

False

In [89]:
# same values?
full_slice == s

True

## Copy list

In [90]:
t = s # shallow copy, copying the reference not the values... this is default behavior...
# Are you the same object?
t is s

True

To copy a list, use the **copy()** method instead of full slice

In [91]:
u = s.copy()
u is s

False

In [93]:
# Simply call the list()
v = list(s)
v is s

False

## Shallow copies
Copy the references no the values

In [94]:
a = [[1,2], [3,4]]
a

[[1, 2], [3, 4]]

In [95]:
# make a copy with full slice
b = a[:]  # creates a copy of the references so b points to a until things change explicity with a...
a is b

False

In [96]:
# same values
a == b

True

In [97]:
# modify one list
print(a[0])
print(b[0])

[1, 2]
[1, 2]

In [98]:
a[0] is b[0]

True

In [99]:
# The above statement is TRUE, because, ALL copies are shallow
a[0] = [8, 9]
print(a[0])
print(b[0])

[8, 9]
[1, 2]

In [100]:
a[1].append(5)
print(a)
print(b)

[[8, 9], [3, 4, 5]]
[[1, 2], [3, 4, 5]]

## Repeat a list
As for strings and tuples, list support repetition using the multiplication operator

In [101]:
c = [21, 37]
d = c * 4
print(d)

[21, 37, 21, 37, 21, 37, 21, 37]

In [102]:
# Good to initialize values
[0] * 9

[0, 0, 0, 0, 0, 0, 0, 0, 0]

In [103]:
# Be aware of repetition.
s = [[-1, 1]] * 5
print(s)

[[-1, 1], [-1, 1], [-1, 1], [-1, 1], [-1, 1]]

In [104]:
# modify one member
s[2].append(7)
print(s)

[[-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7]]

In [105]:
s[1] = [3, 4, 5]
print(s)

[[-1, 1, 7], [3, 4, 5], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7]]

Find the first element using **index()**

In [106]:
w = "the quick brown fox jumps over the lazy dog".split()
w

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [107]:
# get the index
w.index('fox')

3

In [108]:
# multiple matches, it will take the first one.
w.index('the')

0

In [109]:
w.index("unicorn")

ValueError: 'unicorn' is not in list

To count instances of a value in a list use **count()**

In [110]:
w.count("the")

2

Test membership with **count()** or **in** and **not in**

In [111]:
37 in [1, 4, 6, 37]

True

In [112]:
78 not in [1, 78, 33, 22]

False

### Remove elements from  list with del()

In [113]:
w = "the quick brown fox jumps over the lazy dog".split()
w

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [114]:
del w[3]
print(w)

['the', 'quick', 'brown', 'jumps', 'over', 'the', 'lazy', 'dog']

In [115]:
# also remove
w.remove("jumps")
print(w)

['the', 'quick', 'brown', 'over', 'the', 'lazy', 'dog']

#### Insert() Method

Accepts the index of the new item and the new item itself

In [116]:
a = "I accidentally exploted the universe".split()
a

['I', 'accidentally', 'exploted', 'the', 'universe']

In [117]:
a.insert(4,"whole")
print(a)

['I', 'accidentally', 'exploted', 'the', 'whole', 'universe']

## Concatenation of list

In [118]:
m = [1, 2, 3]
n = [4, 5, 6]
k = m + n
print(k)

[1, 2, 3, 4, 5, 6]

In [119]:
# Where the augmented assignment operator +=
# modifies the assignee in place:
print(t)
t += [18, 34, 99]
print(t)

[3, 185, 22, 44, 90, -2, 33, 18, 34, 99]

In [120]:
# A similar effect can be acheived with extend()
k.extend([44, 45, 46])
print(k)

[1, 2, 3, 4, 5, 6, 44, 45, 46]

#### Rearrange elements: reverse(), sort(), key()

In [121]:
g = [1, 11, 21, 31, 41, 51]
print(g)
g.reverse()
print(g)

[1, 11, 21, 31, 41, 51]
[51, 41, 31, 21, 11, 1]

In [122]:
# Sort list
d = [5, 22, 43, 11 ,-9, 0, 65, 33]
print(d)
d.sort()
print(d)

[5, 22, 43, 11, -9, 0, 65, 33]
[-9, 0, 5, 11, 22, 33, 43, 65]

In [123]:
d.sort(reverse=True)
print(d)

[65, 43, 33, 22, 11, 5, 0, -9]

In [124]:
# The key parameter is more interesting
w = "the quick brown fox jumps over the lazy dog".split()
w

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [125]:
w.sort(key=len)
print(w)

['the', 'fox', 'the', 'dog', 'over', 'lazy', 'quick', 'brown', 'jumps']

# Dictionaries
An unordered mapping from unique, immutable keys to mutable values

In [126]:
url = {"Google":"www.google.com",
      "Twitter":"www.twitter.com",
      "WSU":"www.weber.edu"}
print(url['WSU'])

www.weber.edu

In [127]:
# The dict() can convert from other types to dictionaries
names_and_ages = [('Alice', 32), ('John', 33), ('Maria', 20)]
names_and_ages

[('Alice', 32), ('John', 33), ('Maria', 20)]

In [129]:
d = dict(names_and_ages)
print(d)
print(type(d))

{'Alice': 32, 'John': 33, 'Maria': 20}
<class 'dict'>

In [130]:
phonetic = dict(a='alpha', b='bravo', c='charlie', d='delta', e='echo', f='foxtrot')
print(phonetic)

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}

### Copy dictionaries
As with list, dictionaries copies are **shallow** by defualt.
Use the **copy()** or **dict()** constructor

In [132]:
phonetic = dict(a='alpha', b='bravo', c='charlie', d='delta', e='echo', f='foxtrot')
print(phonetic)

pcopy = phonetic.copy() # copy with copy method
print(pcopy)

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}
{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}

In [133]:
# Second Method
f = dict(phonetic)
print(f)

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}

### Updating dictionaries with update() method

In [134]:
stocks = {"GOOG":891, "AAPL":416, "IBM":239}
stocks

{'AAPL': 416, 'GOOG': 891, 'IBM': 239}

In [135]:
stocks.update({'GOOG':894, 'YHOO':25})
stocks

{'AAPL': 416, 'GOOG': 894, 'IBM': 239, 'YHOO': 25}

In [136]:
# Iterate over dicts
for key in stocks:
    print(key)

GOOG
AAPL
IBM
YHOO

In [137]:
# iterate over values
for v in stocks.values():
    print(v)

894
416
239
25

In [138]:
# by keys
for v in stocks.keys():
    print(v)

GOOG
AAPL
IBM
YHOO

In [139]:
# Use items() for both key and values
for k, v  in stocks.items():
    print(k, "=>", v)

GOOG => 894
AAPL => 416
IBM => 239
YHOO => 25

#### Test for membership for dictionary keys with in and not in

In [140]:
'GOOG' in stocks

True

In [141]:
'WIN' not in stocks

True

#### Removing items from dict with del()

In [142]:
print(stocks)
del(stocks['YHOO'])
print(stocks)

{'GOOG': 894, 'AAPL': 416, 'IBM': 239, 'YHOO': 25}
{'GOOG': 894, 'AAPL': 416, 'IBM': 239}

#### Mutability of dictionaries
We Cannot modify the key, but we can modify the values.

In [144]:
isotopes = {'H':[1, 2, 3],
           'He':[3, 4],
           'Li':[6, 7],
           'Be':[7, 8, 10],
           'B':[10, 11],
           'C':[11, 12, 13, 14]}
print(isotopes)

{'H': [1, 2, 3], 'He': [3, 4], 'Li': [6, 7], 'Be': [7, 8, 10], 'B': [10, 11], 'C': [11, 12, 13, 14]}

In [145]:
isotopes['H'] += [4, 5, 6, 7]
print(isotopes)

{'H': [1, 2, 3, 4, 5, 6, 7], 'He': [3, 4], 'Li': [6, 7], 'Be': [7, 8, 10], 'B': [10, 11], 'C': [11, 12, 13, 14]}

In [146]:
# Add members
isotopes['N'] = [13, 14, 15]
print(isotopes)

{'H': [1, 2, 3, 4, 5, 6, 7], 'He': [3, 4], 'Li': [6, 7], 'Be': [7, 8, 10], 'B': [10, 11], 'C': [11, 12, 13, 14], 'N': [13, 14, 15]}

To print in a more readable way, use **Pretty Printing, pprint**

Note: you need more than 80 characters

In [147]:
from pprint import pprint as pp
pp(isotopes)

{'B': [10, 11],
 'Be': [7, 8, 10],
 'C': [11, 12, 13, 14],
 'H': [1, 2, 3, 4, 5, 6, 7],
 'He': [3, 4],
 'Li': [6, 7],
 'N': [13, 14, 15]}

# Sets
* An unordered collection of unique, immutable objects
* use Curly { } to create it.
* have set() constructor

Similar to dictionaries, but each item is a single object (no key).

In [149]:
p = {6, 28, 496, 8128, 33550289}
print(p)
print(type(p))

{8128, 6, 496, 33550289, 28}
<class 'set'>

In [150]:
# empty set
e = set()
e

set()

### Duplicates are removed

In [151]:
t = [1, 4, 2, 6, 77, 2, 1, 99]
print(t)
s = set(t)
print(s)

[1, 4, 2, 6, 77, 2, 1, 99]
{1, 2, 99, 4, 6, 77}

### Iterate over set

In [152]:
for x in s:
    print(x)

1
2
99
4
6
77

### Membership testing

In [153]:
q = {2, 9, 6, 4}
3 in q

False

In [154]:
3 not in q

True

### Adding elements to sets. Use add() or update() methods

In [155]:
k = {32, 55}
print(k)
k.add(23)
print(k)

{32, 55}
{32, 23, 55}

In [156]:
# multiple adds
k.update([32, 23, 41])
print(k)

{32, 41, 23, 55}

### Removing elements use remove() method

In [157]:
print(k)
k.remove(55)
print(k)

{32, 41, 23, 55}
{32, 41, 23}

In [158]:
print(k)
k.remove(55)
print(k)

{32, 41, 23}

KeyError: 55

In [159]:
# Use the discard method.  It will not throw and error 
# if the element does not exist
print(k)
k.discard(98)
print(k)

{32, 41, 23}
{32, 41, 23}

### To copy use copy() or set() constructor

In [160]:
j = k.copy()
print(j)

{32, 41, 23}

In [161]:
m = set(k)
print(m)

{32, 41, 23}

## Set Algebra Operations
It supports teh following operations:
* union
* Intersection
* difference
* symmetric_difference
* subsets relationships

### Collection Protocols

Protocol | Implementing Collection
---------| -----------------------
Container (in, not in) | str, list, dict, range, tuple, set, bytes
Sized (len)|  str, list, dict, range, tuple, set, bytes
Iterable (for)|  str, list, dict, range, tuple, set, bytes
Sequence |  str, list, range, tuple, bytes
Mutable Sequence | list
Mutable Set | set
Mutable Mapping | dict

# Handling Exceptions

Is a mechanism for stopping normal program flow and continuing at some surrounding context or block of code.

Key concepts:
* Raise an exception to interrupt program flow
* Handle an exception to resume control
* Unhandle exception will terminate the program
* Exception object contain information about the exception event.

Use **try** with **except** block to test code

### Re-Raising exceptions

IF you want to capture ALL excections use:

except Exception

## Exception, APIs, and Protocols

Exceptions are part of a fuction's API, and more broadly they are part of certain protocols.
* **IndexError** is raised when an integer is out of range
* **ValueError** is raised when the object is of the right type, but contains an inappropriate value.
* **KeyError** is raised when a look-up in a mapping fails.

For more info: https://docs.python.org/3.5/library/exceptions.html#concrete-exceptions